* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
    margin-top: 2.03vw;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header__nav {
    display: flex;
}

.main-header__block1 {
    width: 12.44vw;
}

.main-header__block2 {
    width: 15.9vw;
}

.main-header__block3 {
    width: 15.8vw;
}

.main-header__block4 {
    width: 11.35vw;
}

.hyphenation {
    display: flex;
    flex-direction: column;
}

.menu-photo {
    max-width: 1.91vw;
    max-height: 1.55vw;
    margin-right: 0.57vw;
}

.logo {
    font-size: 1.66vw;
    color: #C51103;
    text-decoration: none;
}

.heading-font {
    font-family: Open Sans;
    font-weight: bold;
    line-height: 130%;
}

.logo-size {
    font-size: 2.5vw;
}

.menu-text {
    font-size: 0.94vw;
    line-height: 150%;
    color: #999999;
}

.btn {
    font-size: 0.83vw;
    line-height: 150%;
    text-align: center;
    color: #4A4A4A;
    border: 0.052vw solid #82B2A2;
    width: 10.2vw;
    height: 3.28vw;
    padding: 0.39vw 1.45vw 0.39vw 1.45vw;
    background: #ffffff;
}

.main-info {
    display: flex;
}

.main-info__text {
    display: flex;
    flex-direction: column;
    width: 39vw;
    margin: 3.75vw 0vw 7.25vw 0vw;
}

.phone {
    display: flex;
    align-items: left;
    margin: 0vw 0vw 1.25vw 4.25vw;
    max-height: 25.79vw;
    max-width: 45.21vw;
}

.header-text {
    font-size: 0.83vw;
    line-height: 130%;
    color: #999999;
}

.normal-text {
    font-size: 0.94vw;
    line-height: 150%;
    color: #1F1F1F;
}

.bold-distance {
    font-weight: bold;
    padding: 0vw 0vw 0vw 0.97vw;
}

.numbers {
    font-size: 1.15vw;
    color: #82B2A2;
}

.big-text {
    font-size: 2.86vw;
}

.big-text1 {
    font-size: 2.86vw;
}

.content__heading {
    font-size: 1.25vw;
    color: #1F1F1F;
}

.content {
    display: flex;
    /* align-items: stretch; */
}

.content__block {
    margin: 0.5vw;
    background: #F2F7F6;
}

.content__block1 {
    display: flex;
    flex-direction: column;
    flex-basis: 40.5vw;
    padding: 1.56vw 1.93vw 3.33vw 2.1vw;
}

.content__block2 {
    padding: 1.6vw 1.30vw 3.39vw 2.13vw;
}

.content__block3 {
    padding: 1.66vw 2.19vw 0vw 1.66vw;
}

.content__block4 {
    display: flex;
    flex-direction: column;
    padding: 1.77vw 0vw 6.42vw 2.08vw;
}

.content__indent {
    margin-bottom: 1.61vw;
}

.content__ul {
    list-style-type: none;
}

.content__li {
    margin-bottom: 1.56vw;
}

.attainment {
    display: flex;
    justify-content: space-around;
    margin: 3.75vw 0vw 4.16vw 0vw;
}

.attainment__block {
    display: flex;
    align-items: center;
    flex-basis: 18%;
}

.attainment__block1 {
    display: flex;
    align-items: center;
    flex-basis: 17%;
}

.line {
    border-bottom: 1px solid #C0E4E4;
    margin: 0 auto;
}

.map {
    margin: 3.39vw 0vw 3.38vw 0vw;
}

.map__map {
    display: flex;
    margin-top: 2.45vw;
    justify-content: space-between;
}

.map__heading {
    font-size: 1.875vw;
    color: #1F1F1F;
    margin-bottom: 1.69vw;
}

.map__p {
    font-size: 0.94vw;
    line-height: 140%;
    color: #999999;
    width: 21.09vw;
}

.main-footer {
    display: flex;
    flex-direction: column;
    margin: 2.68vw 0vw 3.33vw 0vw;
}

.main-footer__block1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.18vw;
}

.main-footer__logo {
    display: flex;
    align-items: center;
}

.main-footer__block2 {
    display: flex;
    justify-content: space-between
}

.main-footer__p {
    font-size: 0.94vw;
    line-height: 140%;
    color: #1F1F1F;
    width: 60%;
    padding: 0vw 0vw 0vw 0.31vw;
}

.main-footer_icon {
    max-width: 1.25vw;
    max-height: 1.25vw;
}